<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298683386029-oqi5tg8vq273i52d62so6dja1tua5k07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298683386029-oqi5tg8vq273i52d62so6dja1tua5k07</string>
	<key>API_KEY</key>
	<string>AIzaSyDc1t-oi1YDUm_5PY4j2Z1mo74kBkrb1qk</string>
	<key>GCM_SENDER_ID</key>
	<string>298683386029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idemia.idverify.ios</string>
	<key>PROJECT_ID</key>
	<string>idverify-e6b35</string>
	<key>STORAGE_BUCKET</key>
	<string>idverify-e6b35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298683386029:ios:80752a570f72f1e0fb5e24</string>
	<key>DATABASE_URL</key>
	<string>https://idverify-e6b35.firebaseio.com</string>
</dict>
</plist>